<!-- cosign/templates/profile/show_profile.html -->

{% extends 'cosign/base.html' %}
{% load static %}

{% block sub_css %}
<link rel="stylesheet" href="{% static 'cosign/css/profile/show_profile-styles.css' %}">
{% endblock sub_css %}

{% block content %}
<div class="profilePage">
    <section class="profileHeader">
        <div class="profileHeader-main">
            {% if profile.pfp_file %}
                <img src="{{ profile.pfp_file.url }}" alt="Profile picture" class="profileAvatar">
            {% else %}
                <img src="{% static 'cosign/img/defaultpfp.jpg' %}" alt="profile picture" class="profileAvatar">
            {% endif %}
            <div>
                <h1 class="profileName">
                    {{ profile.first_name }} {{ profile.last_name }}
                </h1>
                <p class="profileHandle">@{{ profile.username }}</p>
            </div>
        </div>
        <div class="profile-bio">
            {{ profile.bio }}
        </div>
        <div class="buttonBox">
            <div class="updateButton">
                <p>Update</p>
            </div>
            <div class="deleteButton">
                <p>Delete</p>
            </div>
        </div>
    </section>
</div>

{% endblock content %}
