<!-- cosign/templates/base.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoSign</title>
    <link rel="stylesheet" href="{% static 'cosign/css/base-styles.css' %}">
</head>
<body>
    <nav class="navbar">
        
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'show_profile' 1 %}">Profile</a></li>
        </ul>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>