<!-- cosign/templates/show_all_profiles.html -->

{% extends 'cosign/base.html' %}
{% load static %}

{% block sub_css %}
<link rel="stylesheet" href="{% static 'cosign/css/profile/show_all_profiles-styles.css' %}">
{% endblock sub_css %}

{% block content %}

<div class="container">
    <h1>All Profiles (temporary view)</h1>

    <div class="profileList">

        {% for profile in profiles %}
        <a href="{% url 'show_profile' profile.pk %}" style="text-decoration: none; color: #1f1f1f;">
            <div class="profileListCard">
                <div class="pfp-box">
                    {% if profile.pfp_file %}
                        <img src="{{ profile.pfp_file.url }}" alt="Profile picture" class="profileAvatar">
                    {% else %}
                        <img src="{% static 'cosign/img/defaultpfp.jpg' %}" alt="profile picture" class="profileAvatar">
                    {% endif %}
                </div>
                <div class="profileCardText">
                    <h4>{{ profile.username }}</h4>
                    <p><i>{{ profile.first_name }} {{ profile.last_name }}</i></p>
                </div>
            </div>
        </a>
        {% endfor %}

    </div>


</div>

{% endblock %}