/* CoSign/cosign/static/cosgin/css/base-styles.css */

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.navbar {
    height: 50px;
    background-color: #3f9dff;
    display: flex;
    align-items: center;
    justify-content: center;
    
    ul {
        margin: 0;
        display: flex;
        flex-direction: row;
        gap: 10vw;
        list-style: none;   
    }

    li {
        cursor: pointer;
        font-size: 25px;
    }

    a {
        text-decoration: none;
    }

    
}


.container {
    width:80%;

}