/* CoSign/cosign/static/cosgin/css/base-styles.css */

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.navbar {
    height: 60px;
    background-color: #bdd8f4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: black 2px solid;
    
    ul {
        margin: 0;
        display: flex;
        flex-direction: row;
        gap: 10vw;
        list-style: none;   
    }

    li {
        cursor: pointer;
        font-size: 25px;
        padding: 5px 10px;

        
    }

    a {
        text-decoration: none;
        color: rgb(49, 49, 49);
        font-weight: 500;
    }

    
}


.container {
    width:80%;

}